//
   Created by chinna on 26/8/14.

section.container
    .row
        .col-lg-12
            .panel.panel-primary
                .panel-heading
                    | Edit {{ grievance.id }}
                .panel-body
                    form#grievanceForm(name='grievanceForm',class='form-horizonal',type='form',novalidate)
                        .col-lg-6
                            .form-group.has-warning
                                label.control-label(for='name')
                                    | Name
                                    span(class='star-label') *
                                div(ng-class="{ 'has-error' : grievanceForm.name.$invalid }")
                                    input#name.form-control(type='text',name='name',ng-model='grievance.name',placeholder='Name', required, autofocus)
                                    small(class="label label-danger",ng-show="grievanceForm.name.$invalid && grievanceForm.name.$dirty") Required Name
                            .form-group.has-warning
                                label.control-label(for='fatherName')
                                    | Father Name
                                    span(class='star-label') *
                                div(ng-class="{ 'has-error' : grievanceForm.fatherName.$invalid }")
                                    input#fatherName.form-control(type='text',name='fatherName',ng-model='grievance.fatherName',placeholder='Father Name',required)
                                    small(class="label label-danger",ng-show="grievanceForm.fatherName.$invalid && grievanceForm.fatherName.$dirty") Required Father Name
                            .form-group.has-warning
                                label.control-label(for='dob')
                                    | Birth Date
                                    span(class='star-label') *
                                #fromDatepicker.input-group.date
                                    input#fromDate.form-control(type='text', required='', name='dob', ng-change='calculateAgeOnDOB()', ng-model='grievance.dob', placeholder='Select Date')
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-calendar
                            .form-group.has-warning
                                label.control-label(for='age')
                                    | Age
                                div
                                    input#age.form-control(type='text',name='age',ng-model='age',placeholder='Select  your date of birth', readonly)
                            .form-group.has-warning
                                label.control-label(for='phoneNumber')
                                    | Phone Number
                                    span(class='star-label') *
                                div(ng-class="{ 'has-error' : grievanceForm.phoneNumber.$invalid }")
                                    input#phoneNumber.form-control(type='tel',name='phoneNumber',ng-model='grievance.phoneNumber',placeholder='Phone Number',ng-maxlength="10", ng-minlength="10",required)
                                    small(class="label label-danger",ng-show="grievanceForm.phoneNumber.$invalid && grievanceForm.phoneNumber.$dirty") Required 10 digits mobile number
                            .form-group.has-warning
                                label.control-label(for='education')
                                    | Education
                                    span(class='star-label') *
                                select#education.form-control(
                                name='education',
                                ng-selected="Select",
                                ng-options='e.name as e.name for e in education',
                                ng-model='grievance.education',
                                required)
                                    option(value='',selected) -- Select Education --
                            .form-group.has-warning
                                label.control-label(for='address')
                                    | Address
                                div
                                    textarea#address.form-control(name='address',ng-model='grievance.address',placeholder='Address')
                            .form-group.has-warning
                                label.control-label(for='ward')
                                    | Ward
                                    span(class='star-label') *
                                select#ward.form-control(
                                name='ward',
                                ng-options='w.name as w.name for w in wards',
                                ng-model='grievance.ward',
                                required)
                                    option(value='',selected) -- Select Ward --
                            .form-group.has-warning
                                label.control-label(for='gpu')
                                    | GPU
                                    span(class='star-label') *
                                select#gpu.form-control(
                                name='gpu',
                                ng-options='g.name as g.name for g in gpus',
                                ng-model='grievance.gpu',
                                required)
                                    option(value='',selected) -- Select GPU --
                            .form-group.has-warning
                                label.control-label(for='constituency')
                                    | Constituency
                                    span(class='star-label') *
                                select#constituency.form-control(
                                name='constituency',
                                ng-options='c.name as c.name for c in constituencies',
                                ng-model='grievance.constituency',
                                required)
                                    option(value='',selected) -- Select Constituency --

                        .col-lg-6
                            .form-group.has-warning
                                label.control-label(for='grievanceType')
                                    | Grievance Type
                                    span(class='star-label') *
                                select#grievanceType.form-control(
                                name='grievanceType',
                                ng-options='gt.name as gt.name for gt in grievanceTypes',
                                ng-model='grievance.grievanceType',
                                required)
                                    option(value='',selected) -- Select Grievance Type --
                            .form-group.has-warning
                                label.control-label(for='department')
                                    | Department
                                    span(class='star-label') *
                                select#department.form-control(
                                name='department',
                                ng-options='d.name as d.name for d in departments'
                                ng-model='grievance.department',
                                required)
                                    option(value='',selected) -- Select Department --
                            .form-group.has-warning
                                label.control-label(for='department')
                                    | Scheme
                                    span(class='star-label') *
                                select#scheme.form-control(
                                name='scheme',
                                ng-options='s.name as s.name for s in schemes'
                                ng-model='grievance.scheme',
                                required)
                                    option(value='',selected) -- Select Scheme --
                            .form-group.has-warning
                                label.control-label(for='note')
                                    | Requirement
                                    span(class='star-label') *
                                div
                                    textarea#requirement.form-control(name='requirement',ng-model='grievance.requirement',placeholder='Requirement', required)
                                    small(class="label label-danger",ng-show="grievanceForm.requirement.$invalid && grievanceForm.requirement.$dirty") Required Requirement
                            .form-group.has-warning
                                label.control-label(for='recommendedDoc')
                                    | Upload Copy of Recommended Document
                                div(ng-class="{ 'has-error' : grievanceForm.recommendedDoc.$invalid }")
                                    input#recommendedDoc.form-control(type='file',name='recommendedDoc', ng-model='grievance.recommendedDoc', ng-file-select="onFileSelect($files, 'recommended')", ng-disabled='notRecommended')
                            .form-group.has-warning
                                label.control-label(for='aadharDoc')
                                    | Upload Copy of Aadhar Card
                                div(ng-class="{ 'has-error' : grievanceForm.aadharDoc.$invalid }")
                                    input#aadharDoc.form-control(type='file',name='aadharDoc', ng-model='grievance.aadharDoc', ng-file-select="onFileSelect($files, 'aadhar')", ng-disabled='notRecommended')
                            .form-group.has-warning
                                label.control-label(for='voterId')
                                    | Upload Copy of Voter Id Card
                                div(ng-class="{ 'has-error' : grievanceForm.voterId.$invalid }")
                                    input#voterId.form-control(type='file',name='voterId', ng-model='grievance.voterId', ng-file-select="onFileSelect($files, 'voter')", ng-disabled='notRecommended')
                            .form-group.has-warning
                                label.control-label(for='sscCertificate')
                                    | Upload Copy of SSC Certificate
                                div(ng-class="{ 'has-error' : grievanceForm.sscCertificate.$invalid }")
                                    input#sscCertificate.form-control(type='file',name='sscCertificate', ng-model='grievance.sscCertificate', ng-file-select="onFileSelect($files, 'ssc')", ng-disabled='notRecommended')
                            .form-group.has-warning
                                label.control-label(for='otherDoc')
                                    | Upload Copy of Any Other Document
                                div(ng-class="{ 'has-error' : grievanceForm.otherDoc.$invalid }")
                                    input#otherDoc.form-control(type='file',name='otherDoc', ng-model='grievance.otherDoc', ng-file-select="onFileSelect($files, 'other')", ng-disabled='notRecommended')
                            .form-group.has-warning
                                label.control-label(for='note')
                                    | Note
                                div
                                    textarea#note.form-control(name='note',ng-model='grievance.note',placeholder='Note')
                    .col-lg-12
                        .col-lg-6
                            button.btn.btn-success(id='btn-createGrievance', ng-click='updateGrievance()')
                                i.glyphicon.glyphicon-ok
                                |   Update
                            button.btn.btn-warning(id='btn-close', ui-sref="userDashboard")
                                i.glyphicon.glyphicon-circle-arrow-left
                                |   Back
                        .col-lg-6
                            .alert.alert-success(ng-show='error')
                                i.fa.fa-check-circle-o
                                    | Grievance Updated Successfully!
